body{
    background-image: radial-gradient( #241649, #2b1942,#2d293b, #080808);
}

.custom-card-img{
    background-color: transparent;
    border: none ;
     height: 230px; 
        
}

.custom-card{
    background-color: transparent;
    border: none ;
}