.row1 {
    height: auto;
}

.title2 {color: white;
    font-family: 'Bakbak One', cursive;
        font-weight: bold;}

.categoria3 {
    color: white;
    font-family: 'Bakbak One', cursive;
        font-weight: bold;
}
.d-block {
    border: 1px #2d293b solid;
    border-radius: 50px;
}
    